.nav-item .dropdown-menu {
  background: #212529;
}

.nav-item .dropdown-item {
  color: #EDEDED;
}

.nav-item .dropdown-item:hover {
  background: #23b6fd;
}

.dropdown-divider {
  color: #EDEDED;
}


.App-logo {
  height: 4vmin;
  pointer-events: none;
}


a {
  text-decoration: none;
  color: #EDEDED;
}

a.dropdown-item {
  width: 100%;
}

a:hover {
  color: black;
}

.bell {
  position: absolute;
  right: 2%;
}

.logout {
  position: absolute;
  right: 10%;
}