.nav-item .dropdown-menu {
    background: #000000;
    }
  
  .nav-item .dropdown-item {
    color: #ffffff;
    }
  
  .nav-item .dropdown-item:hover {
    background: #23B6FD;
    }

.dropdown-divider{
      color: #ffffff;
    }

.App-logo {
    height: 4vmin;
    pointer-events: none;
  }


button {
  padding: 0;
  border: none;
  background: none;
  color: white;
}

