table {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.topLeft {
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 70px;
}

.topLeft table {
  width: 50%;
}

.topRight {
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 70px;
}

.topRight table {
  width: 50%;
}

.center {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bottomLeft {
  width: 1100px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-right: 10px;
  margin-bottom: 50px;
}

.bottomLeft table {
  width: 50%;
}

.bottomRight {
  width: 1100px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 50px;
}

.bottomRight table {
  width: 50%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 4px;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
  color: black;
}
table tr:nth-child(even) {
  background-color: #eeeeee;
  color: black;
}

table tr:hover {
  background-color: cyan;
}

table th {
  text-align: center;
  background-color: #000000;
  color: white;
}

body {
  background-color: white;
}

td {
  width: 50%;
}

.button {
  height: 100%;
  width: 100%;
}
