.bold {
    font-weight: bolder;
}

.cvitem {
    text-decoration: none;
    color: black;
}

.cvitem:hover {
    color: black;
    background-color: #eee;
}

.center {
    text-align: center;
    margin: auto;
}

.right {
    overflow: hidden;
    margin:auto 0 auto auto;
    text-align: right;
}

.auto {
    overflow: hidden;
    margin: auto;
}

.dark {
    background-color: #343a40;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    /*width: 80% !important;
    height: 100% !important;*/
}

.prevPage {
    margin: auto 0 auto auto;
}

.nextPage {
    margin: auto auto auto 0;
}

.pages {
    margin: auto 0 auto 0;
    color: white;
}