#formCv {
    margin:auto;
  }

#formCv .files  {
    outline: 2px dashed white;
    outline-offset: -10px;
    padding: 50px;
    text-align: center !important;
    background-color: green;
}

#formCv input[type="file"] {
    display: none;
}


#tableCv{
    margin-top: 50px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


#formContainer {
    margin:auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

#formCv  #buttonCv {
    margin-top: 30px; 
    background: #DBB2FF;
    color: #161616;
    padding: 0.75rem 1.25rem;
    width: 250px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
  }


#tableCv tr:nth-child(even) .tableCvButton {
    background-color: #212529;
    border: none;
    color: white;

}

#tableCv tr:nth-child(odd) .tableCvButton {
    background-color: #2c3034;
    border: none;
    color: white;

}

#tableCv tr:hover .tableCvButton {
    background-color: #323539;
    border: none;
    color: white;

}




